<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The Checklist</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<script src="https://unpkg.com/vue@next"></script>
	<style>
		input {
			width: 80%;
			height: 40px;
		}

		textArea {
			width: 80%;
		}

		form, #recapContainer {
			background-color: rgb(245, 245, 245);
			border-radius: 10px;
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			border: 1px solid gray;
		}

		#recapContainer {
			max-height: 400px;
			overflow-y: scroll;
		}
		
		#recap {
			border: 1px solid grey;
			border-radius: 10px;
		}

		body {
			background-color: #A7C0DE;
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="container-fluid">
			<div class="row d-flex justify-content-center">
				<form class="col-5 mt-5 p-4" v-on:submit.prevent="checkForm" novalidate>
					<h2 class="text-center mb-4">Inscription chez Dedalus</h2>

					<div class="d-flex justify-content-between align-items-center mb-3">
						<label for="name">Nom et prénom</label>
						<input type="text" id="name" v-model="name.value" v-on:input="checkName" />
					</div>

					<p v-show="!name.valid" class="text-danger">Veuillez renseigner votre nom et prénom</p>

					<div class="d-flex justify-content-between align-items-center mb-4">
						<label for="email">Adresse email</label>
						<input type="text" id="email" v-model="email.value" v-on:input="checkEmail" />
					</div>

					<p v-show="!email.valid" class="text-danger my-2">L'adresse email est invalide</p>

					<div class="d-flex justify-content-between">
						<span>Message</span>
						<textarea id="message" name="message" v-model="message.value" v-on:input="checkMessage" rows="6"></textarea>
					</div>

					<p v-show="!message.valid" class="text-danger mt-2">Veuillez écrire un message</p>
					
					<div class="text-center mt-3">
						<button type="submit" class="btn btn-primary">Envoyer</button>
					</div>
				</form>
			</div>
			<div class="row d-flex justify-content-center mt-3">
				<div class="col-5 p-4" id="recapContainer">
					<div id="recap" class="p-4">
						<p>Nom et prénom : {{ recapName }}</p>
						<p>Adresse électronique : {{ recapEmail }}</p>
						<p>Message : <br> {{ recapMessage }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		const emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/
		const vm = Vue.createApp({
			data() {
				return {
					name: {
						value: '',
						valid: true
					},
					email: {
						value: '',
						valid: true
					},
					message: {
						valid: true
					},
					recapName: '',
					recapEmail: '',
					recapMessage: '',
				}
			},
			methods: {
				checkName() {
					this.name.valid = this.name.value ? true : false
				},
				checkEmail() {
					this.email.valid = (this.email.value && emailRegex.test(this.email.value)) ? true : false
				},
				checkMessage(message) {
					this.message.valid = this.message.value ? true : false
				},
				checkForm() {
					this.checkName();
					this.checkEmail();
					this.checkMessage();

					if (this.name.valid && this.email.valid && this.message.valid) {
						this.recapName = this.name.value
						this.name.value = ''

						this.recapEmail = this.email.value
						this.email.value = ''

						this.recapMessage = this.message.value
						this.message.value = ''
					}
				}
			}
		}).mount('#app')
	</script>
</body>
</html>